/* 4 - External CSS */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

.color-name {
    color: crimson;
}

.hex {
    color: #55a398;
}

.hex-2 {
    color: #55a276;
}

.simple-hex {
    color: #333;
}

.simple-hex-2 {
    color: #A5F;
}

.rgb{
    color: rgb(255, 0, 0);
}

.mixed-rgb{
    color: rgb(199, 21, 47);
}

.rgba {
    color: rgba(100, 199, 45, 0.3);
}

.hsl {
    color: hsl(100, 20%, 50%);
}

.hsl-2 {
    color: hsl(201, 44%, 69%);
}

.bg {
    background-color: #000;
    color: #55a398;
}

.bg-2 {
    background-color: rgb(200, 20, 187);
    color: #fff;
}

.bg-opacity {
    background-color: green;
    opacity: .2;
}

.bg-opacity-2 {
    background-color: rgb(20, 32, 110);
    color: #333;
    opacity: .8;
}

.rgba-opacity {
    background-color: rgba(45, 137, 199, 0.2);
    color: #000;
}

.bg-image {
    background-image: url("../img/nature.jpg");
    padding: 10px;
    color: #fff;
}

.not-centered-bg, 
.centered-bg {
    width: 400px;
    height: 400px;
    background-image: url("../img/bridge.jpg");
    padding: 10px;
    
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

.height-width {
    height: 200px;
    width: 100px;
    background-color: red;
}

.height-width-2 {
    height: 200px;
    background-color: #333;
}

.without-padding,
.padding {
    background-color: #111;
    color: #FFF;
}

.padding{
    padding: 20px;
}

.padding-individual {
    background-color: #222;
    color: #FFF;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.shorthand-padding {
    background-color: #444;
    padding: 6px 12px 18px 24px;
}

.shorthand-padding-2 {
    background-color: #555;
    padding: 10px 20px;
}

.border {
    border: 3px solid #333;
}

.border-2 {
    border: 3px dashed #3876;
}

.border-left {
    border-left: 3px solid red;
    background-color: #222;
    padding: 25px;
}

.border-bottom {
    border-bottom: 5px double rgb(202, 150, 168);
    background-color: #251b1b;
    padding: 25px;
}

.rounded-p {
    border: 4px solid mediumaquamarine;
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 15px;
}

.rounded-p-2 {
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 15px;
}

.margin {
    margin: 10px;
    background-color: #333;
}

.margin-top {
    margin-top: 50px;
    background-color: #444;
    padding: 10px;
}

.margin-shorthand {
    background-color: #555;
    margin: 5px 10px 15px 20px;
}

.box-model {
    margin: 20px;
    padding: 15px 25px;
    border: 5px solid #845;
    border-radius: 5px;
    width: 200px;
    height: 300px;
}

.text-aligned {
    text-align: right;
}

.container-center {
    text-align: center;
    width: 300px;
    border: 2px solid black;
    border-radius: 2px;
}

.underline {
    text-decoration: underline;
}

.line-trough {
    text-decoration: line-through;
}

.remove-underline {
    text-decoration: none;
    color: blue;
}

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

.spacing {
    letter-spacing: 5px;
}

.serif {
    font-family: Georgia;
}

.sans-serif {
    font-family: Helvetica;
}
.monospace {
    font-size: "Courier New";
}

.cursive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.thin, .bold, .bolder {
    font-family: Helvetica;
}

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 900;
}

.small {
    font-size: 6px;
}

.big {
    font-size: 70px;
}

.inline-box {
    width: 50px;
    height: 50px;
    background-color: #4f8;
    margin: 10px;
    display: inline-block;
}

.block {
    background-color: #333;
    display: block;
    margin: 10px;
}

.invisible {
    display: none;
}

.static {
    position: static;
    background-color: #391;
    color: white;
    width: 100px;
    height: 100px;
}
.relative {
    position: relative;
    background-color: #225;
    color: white;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 40px;
}
.absolute {
    position: absolute;
    background-color: #387;
    color: white;
    width: 100px;
    height: 100px;
    top: 2px;
    right: 2px;
}

.relative-container {
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin-top: 120px;
    position: relative;
}

.absolute-1,
.absolute-2 {
    width: 50px;
    height: 50px;
    background-color: #422;
    position: absolute;
}

.absolute-1 {
    top: 10px;
    left: 10px;
}

.absolute-2 {
    right: 10px;
    bottom: 10px;
}

.fixed {
    width: 100px;
    height: 100px;
    background-color: rgb(207, 123, 12);
    border: 1px solid blue;
    margin-top: 120px;
    position: fixed;
    top: 50px;
    right: 50px;
}

.sticky {
    width: 100px;
    height: 100px;
    background-color: #994;
    border: 1px solid green;
    margin-top: 120px;
    position: sticky;
    top: 10px;
}

.absolute-3,
.absolute-4,
.absolute-5 {
    width: 50px;
    height: 50px;
    background-color: #123;
    position: absolute;
}

.absolute-3 {
    top: 0;
    left: 0;
    z-index: 3;
}

.absolute-4 {
    top: 10px;
    left: 10px;
    background-color: #246;
    z-index: 2;
}
.absolute-5 {
    top: 30px;
    left: 30px;
    background-color: #453;
    z-index: 1;
}