/* 2 - Media query */

h1 {
    color: red;
}

@media screen and (max-width: 500px) {
    h1 {
        color: blue;
    }
}

/* 3 - min-width */

p {
    background-color: RED;
    color: #000;
}

@media screen and (min-width: 800px) {
    p {
        background-color: #000;
        color: red;
    }
}

/* 4 - landscape */
h3 {
    display: none;
}
@media screen and (orientation: landscape) {
    h3 {
        display: block;
    }
}